.notebook-management-page {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.notebook-management-content {
    margin-top: 10vh;
    width: 70%;
}

.notebook-management-content h2 {
    color: #0C5B9C;
}

.notebook-modal-widget {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notebook-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notebook-modal .modal-content {
    border-radius: 10px;
    background-color: #DCF9FB;
}

.notebook-modal .modal-content .close {
    background-color: transparent;
    border: none;
    margin-left: 90%;
    margin-top: 10px;
}

.rename-modal div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rename-modal div p {
    margin-left: 10px;
    color: #06AEAB;
    font-size: 18px;
    font-weight: bold;
}

.rename-modal div input {
    width: 60%;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #347FFF;
    background: #FFF;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #0375D2;
}

.rename-modal div input:focus {
    outline: none;
    box-shadow: none;
}

.rename-modal button {
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;
    padding: 5px 0px;
    border-radius: 15px;
    background: #06AEAB;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.rename-modal button:hover {
    background-color: #2258b7;
}

.delete-modal button {
    width: 100px;
    margin-top: 10px;
    padding: 5px 0px;
    border-radius: 15px;
    background: #06AEAB;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.delete-modal button:hover {
    background-color: #2258b7;
}

.delete-modal p {
    margin-left: 10px;
    margin-top: 30px;
    color: #06AEAB;
    font-size: 18px;
    font-weight: bold;
}

.delete-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-modal div {
    display: flex;
    justify-content: space-between;
}